{% extends 'base.html'%}
{% load static%}
{% block 'titulo'%}
Login
{% endblock%}

{% block 'conteudo'%}

{% include 'parciais/_messages.html'%}          

{% if user.first_name != ''%}
<h1 class="text-center my-5 text-danger">Filmes favoritos de {{user.first_name}} {{user.last_name}}</h1>
{% else %}
<h1 class="text-center my-5 text-danger">Filmes favoritos do usuário {{user}}</h1>
{%endif%}

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Capa</th>
      <th scope="col">Título</th>
      <th scope="col">Tipo</th>
      <th scope="col">Ano</th>
    </tr>
  </thead>
  <tbody>
    {% for f in filmes %}
    <tr class="align-middle">
        <td>
          <a href="{% url 'filme' f.id_filme %}"><img src="{{f.capa}}" style="height: 80px;"></a>
        </td>
        <td><a href="{% url 'filme' f.id_filme %}">{{f.titulo}}</a></td>
        <td>{{f.tipo}}</td>
        <td>{{f.ano}}</td>
        <td><a href="{% url 'filme' f.id_filme %}" class="btn btn-info">Mais detalhes</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<nav aria-label="Page navigation example" class="text-center justify-content-center">
  <ul class="pagination justify-content-center text-center">
    {%if filmes.has_previous%}
    <li class="page-item">
      <a class="page-link" href="?p={{filmes.previous_page_number}}">Anterior</a>
    </li>
    {%endif%}
    {%for pagina in filmes.paginator.page_range%}
    {%if filmes.number == pagina%}
      <li class="page-item active"><a class="page-link bg-success" href="?p={{pagina}}">{{pagina}}</a></li>
    {% elif pagina > filmes.number|add:'-3' and pagina < filmes.number|add:'3' %}
      <li class="page-item"><a class="page-link" href="?p={{pagina}}">{{pagina}}</a></li>
    {%endif%}
    {%endfor%}
    {%if filmes.has_next%}
    <li class="page-item">
      <a class="page-link" href="?p={{filmes.next_page_number}}">...{{filmes.paginator.num_pages}}... Próxima</a>
    </li>
    {%endif%}
  </ul>
</nav>

{% endblock%}
